@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
.article-section{
  position: relative;
  height: 1350px;
}
.article-section > h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 1.5em;
  color: rgb(94, 91, 91);
  font-family: 'Cabin', sans-serif ;
  font-size: 50px;
  padding: .3em;
  text-shadow:  5px 6px 10px rgb(119, 117, 121);
  border: 2px solid rgb(79, 81, 84);
}
.article-list{
  position: absolute;
  top: -20px;
  left: 5%;
}
.article-list2{
  position: absolute;
  margin-top: 150px;
  padding: 1em;
}
.article-list::after{
  display: block;
  position: absolute;
  top: 2%;
  left: 52%;
  content: "";
  height: 100%;
  width: 1%;
  box-shadow: -4px 0px 10px gray;
  background-color: rgb(104, 147, 147);
}
.card, .author-card{
  width: 45%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin-top: 2em;
  box-shadow: 6px 6px 10px gray;
  transition: all .3s ease-in;
}
.author-card{
  width: 100%;
  overflow: hidden;
  max-height: 310px;
}
.card:hover{
  transform: scale(1.03);
  background-color: rgb(227, 227, 227);
}
.card-img{
  width: 200px;
  height: 200px;
  max-width: 40%;
  min-width: 200px;
  object-fit: cover;
}
.card-img2{
  width: 180px;
  height: 170px;
  max-height: 170px;
  object-fit: cover;
}
.card-content{
  padding: .5em;
  height: 100%;
  overflow: hidden;
}
.title{
  color: orangered;
  font-family: 'Cabin', sans-serif;
}
.content-tumbnile{

  font-family: 'Cabin', sans-serif;
  color: rgb(77, 76, 76);
  text-decoration: none;
}
.author,.top-author{
  position: absolute;
  bottom: .5em;
  right: .5em;
}
.top-blogs{
  position: sticky;
  position: -webkit-sticky;
  height: 80vh;
  max-height: 600px;
  max-width: 37%;
  margin-top: 20px;
  top: 70px;
  margin-left: 60%;
  color: rgb(107, 107, 181) ;
  font-size: 1.2em;
  transition: all .5s ease-in-out;
  opacity: .7;
}
.white{
  transform: scale(1.04);
  opacity: 1;
}
.top-blogs > h1 {
  text-shadow: 2px 2px 5px gray;
  font-family:  'Cabin', sans-serif;
  font-size: 30px;
}
.top-card{
  position: relative;
  width: 100%;
  height: 28%;
  max-height: 150px;
  font-size: medium;
  display: flex;
  flex-direction: row;
  padding: 1vw;
  margin-top: .5em;
  box-shadow: 3px 3px 5px gray;
  transition: all .3s ease-in; 
}
.top-card-img{
  width: 120px;
  height: 120px;
  max-height: 90%;
  object-fit: cover;
}
.top-title{
  font-size: 1.5vw;
}
.top-content{
  font-size: 1vw;
}
@media only screen and (max-width : 915px){
  .card,.author-card{
    flex-direction: column;
    /* width: 300px; */
  }
  .card-img{
    max-width: 100%;
    min-width: 220px;
    border-radius: 7px;
    width: auto;
    height: auto;
  }
  .card-img2{
    max-width: 100%;
    border-radius: 7px;
    width: auto;
    height: auto;
  }
  .top-content{
    font-size: 1.5vw;
  }
  .top-author{
    position: absolute;
    font-size: 1.5vw;
    right: .5em;
    top: 2.5em;
  }
  .article-section >h1{
    font-size: 5vw;
    margin-top: 5vw;
  }

}